@media screen and (max-width:1050px) {


    nav {

        display: none;

    }

    div#close-btn {
        display: block;

    }

    nav ul li {
        padding: 10px 0px;
        margin: 10px 0px;
    }

    ul {
        height: 85vh;
        flex-direction: column;
    }

    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    header h2 {
   
        width: 100vw;
    }

    div#hamburger {
        position: absolute;
        right: 0;
        display: block;
    }



    /* section 0ne--------------------- */

    .container-main {
        flex-direction: column-reverse;
        align-items: center;
       
        height: 100%;
        margin-bottom: 0px
    }

    .myimg {
        width: 45vw;

        display: block;

    }

    div.sub-container1 {


        width: 99.9%;
        margin: 0px;
        padding: 10px 0px;
        justify-content: space-evenly;
    }

    div.sub-container-2 {


        align-items: center;
        justify-content: center;
        margin: 3px 0px;

    }

    .first-p {
        text-align: center;

        font-size: 1.6rem;
        margin: 0px;
        width: 97vw;
    }

    .second-p {
        font-size: 15px;
        width: 85vw;
        margin: 10px auto 0px auto;
        text-align: center;
    }



    /* social links---- */

    div.social-links {
        margin: 0px 0px 5px 0px;
        width: 99.9%;
    }



    a.cv {
        margin: 15px auto 10px auto;
        width: 42vw;
        padding: 10px 15px 10px 10px;
    }






/* section 2000000000000000000000 */
.about, .qualification,.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;

}
#qualification,#aboutsec,#skillsec{
    margin-top: 100px;
}


.skills-img ,.img-about,div.qualification-img{
    text-align: center;
   
    border-right: none;
}
p.skills-intro,p.about-intro,p.qualification-intro{
    width: 80vw;
    border-top:1px solid var(--primary-color);
    text-align: center;
}


.top-btn{
    display:inline-block;





/* contact-menu */
#Name,#Message{
    width: 80vw;
}



}
