* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    --primary-color: #e74c3c;
    --secondary-color: white;
}

body {
    font-family: 'Play', sans-serif;

    color: var(--secondary-color);
    background-color: black;

}

::-webkit-scrollbar {
    display: none;
}

/* nav-------------------------------------- */

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
}

h2 {
    width: 25%;
    text-align: center;
    padding: 10px 0px;

}

h2 span.name {
    color: var(--primary-color);


}

h2 span.portofolio {
    color: var(--secondary-color);
    transition: 0.3s;
}

h2:hover span.portofolio {
    color: var(--primary-color);

}

h2:hover span.name {

    color: var(--secondary-color);
}


nav {
    padding: 3px;

}

ul {
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
}

nav ul li {
    list-style-type: none;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    margin: 0px 15px;
    position: relative;

}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    text-align: center;

}

nav ul li:after {
    content: '';
    position: absolute;
    background-color: var(--primary-color);
    width: 0;
    height: 3px;
    left: 0;
    bottom: -3px;
    transition: 0.4s;
}

nav ul li:hover::after {
    width: 100%;
}

div#hamburger {

    text-align: center;
    display: flex;
    align-items: center;
    display: none;
    transition: 0.2s;
}

#hamburger:hover {
    color: var(--primary-color);

}

.bi-list {
    font-size: 2rem;
    text-align: center;
}


#close-btn {

    text-align: center;

    display: none;
    margin: 10px 5px;

}

#close-btn:active {
    color: #e74c3c;

}

.bi-x {
    font-size: 2rem;
}

/* section 1======================================== */

div.container-main {
    height: 93vh;
    display: flex;
    justify-content: space-evenly;
    margin: 10px 0px;
}



div.sub-container1 {
    margin: 10px 5px;
    padding: 5px;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 3px;
}

.first-p {
    font-size: 30px;
    margin: 0px 0px 10px 5px;
}

.second-p {
    color: #ababab;
    font-size: 15px;
    margin: 10px 0px 10px 5px;
    text-align: justify;
}

span.hashir {
    color: var(--primary-color);
}



/* social links here/-------------------------- */

div.social-links {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 5px;
    width: 35%;
    text-align: center;
}

a.links {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 22px;
    margin: 0px 10px;
    transition: 0.2s;
}

a.links:hover {
    transform: translateY(5px);
    cursor: pointer;
    color: white;
}

a.cv {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 20px 0px 0px 5px;
    width: 35%;
    text-align: center;
    padding: 10px;
    background-color: var(--primary-color);
    transition: 0.2s;
    border-radius: 10px;
}

.bi-envelope {
    text-align: center;
    margin: 0px 5px;
    position: absolute;
    transition: 0.1s;
}


a.cv:hover {
    color: black;
    background-color: var(--primary-color);
    opacity: 0.5;
}

a.cv:hover .bi-envelope {
    transform: translateX(5px);
}

.sub-container-2 {
    margin: 10px 5px;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.myimg {
    display: block;
    transition: 0.3s;
}



/* section Qualification-========================== */

div.main-qualification {

    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qualification-head {

    text-align: center;
    margin: 5px;
    padding: 10px;
    transition: 0.2s;

}

.bi-mortarboard-fill {
    color: var(--primary-color);
    transition: 0.2s;
}

.qualification-head:hover .bi-mortarboard-fill {
    color: var(--secondary-color);
}

.qualification-head:hover {
    color: var(--primary-color);
}

.qualification {
    margin: 5px;
    padding: 5px;
    width: 60vw;
    display: flex;
    justify-content: center;


}

div.qualification-img {
    border-right: 1px solid var(--primary-color);
    padding: 10px;
    margin: 5px;

    font-size: 09rem;
}

p.qualification-intro {
    margin: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    text-align: justify;
}

/* section-skill starts hereee------------------ */

.skills-main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.skills-head {

    text-align: center;
    transition: 0.2s;
    padding: 10px;
    margin: 5px;

}

.skills-head:hover {
    color: var(--primary-color);
}

.bi-gear-fill {
    color: var(--primary-color);
    transition: 0.2s;
    margin: 0px 5px;
    position: absolute;
}

.skills-head:hover .bi-gear-fill {
    transform: rotate(360deg);
    color: var(--secondary-color);
}


.skills {

    display: flex;
    justify-content: center;
    width: 60vw;
}

.skills-img {
    border-right: 1px solid var(--primary-color);
    padding: 10px;
    margin: 5px;
    font-size: 09rem;

}

p.skills-intro {

    display: flex;
    align-items: center;
    text-align: justify;
    padding: 10px;
    margin: 5px;
}

/* About section---------------------------------------
 */
.main-about {
    flex-direction: column;
    display: flex;
    align-items: center;
    
}



.about {
    width: 60vw;
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;

}

.about-head {
    padding: 10px;
    margin: 5px;
    text-align: center;
    transition: 0.2s;
}

.about-head:hover .bi-file-earmark-person-fill {
    color: var(--secondary-color);

}

.about-head:hover {
    color: var(--primary-color);

}

.bi-file-earmark-person-fill {
    color: var(--primary-color);
    transition: 0.2s;
}

.img-about {
    font-size: 09rem;
    border-right: 1px solid var(--primary-color);
    padding: 10px;
    margin: 5px;

}


.about-intro {
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #ababab;
}




/* contact menu_____________ */


.main-box {
    padding: 5px;
    display: flex;
    border: none;
    flex-direction: column;
    align-items: center;
}

legend.contact {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    margin: 5px 0px;
    transition: 0.2s;
}

legend#username,
legend.para {

    font-size: 18px;
    padding: 5px;
    margin: 0px 10px;
    border: 1px solid white;

}

fieldset.name,
fieldset.message {
    margin: 10px 5px;
    display: inline-block;

}

#Name {
    padding: 5px 10px;
    width: 50vw;
    margin: 5px;
    font-size: 16px;
    outline: none;
    background: none;
    border: none;
}


#Message {
    font-size: 16px;
    margin: 5px;
    width: 50vw;
    padding: 5px 10px;
    outline: none;
    background: none;
    border: none;
}


#Name,
#Message:focus {
    color: #ababab;
}


#submit {
    background-color: var(--primary-color);
    padding: 10px 15px;
    font-size: 16px;
    margin: 10px 5px;
    border-radius: 10px;
    transition: 0.2s;
}

#submit:hover {
    opacity: 0.5;
    color: var(--secondary-color);
}





.bi-envelope-paper-fill {
    color: var(--primary-color);
    font-size: 22px;
    transition: 0.2s
}

legend.contact:hover .bi-envelope-paper-fill {
    color: var(--secondary-color);
}

legend.contact:hover {
    border: 1px solid white;
    color: var(--primary-color);
}

.contact-menu{
    margin-top: 100px;
}


/* foooter section here */




footer {
    border-top: 1px solid white;
    padding: 20px;
    font-size: 18px;
    margin-top: 100px;
    text-align: center;
}